@import 'src/variables.scss';

.left-align.#{$icon_class_name} {
  position: absolute;
  margin-left: 2px;
  margin-top: 6px;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.left-align.#{$icon_class_name}:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 11px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

