@import 'src/variables.scss';

.plus.#{$icon_class_name} {
  position: absolute;
  margin-left: 3px;
  margin-top: 10px;
  width: 15px;
  border-bottom: 1px solid currentColor;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg) scaleX(1);
}

.plus.#{$icon_class_name}:before {
  content: '';
  position: absolute;
  width: 15px;
  top:0;
  left:0;
  border-bottom: 1px solid currentColor;
  transform: rotate(90deg) scaleX(1);
}
